# Task 1
#### Week 1 (Learning Period Synapse)
###### pandas, numpy, matplotlib

In [469]:
from google.colab import drive
drive.mount("/content/gdrive")

In [ ]:
!pip install matplotlib
!pip install jupyterthemes

## 1. Import pandas, numpy and matplotlib

In [471]:
#write code here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2. load the data 
<br> load the titanic dataset in a pandas dataframe <br> (download dataset from https://www.kaggle.com/c/titanic/data and store it in a folder called <b>"syanpse_w1"</b> in the root of your drive) <br>
Note that you have to download the train and test csv files seperately

In [472]:

train_path = "train.csv"
test_path = "test.csv"

#write code to load train.csv and test.csv in dataframes
df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#write code to show first five data entries of both dataframes
fivetrain_df = pd.read_csv(train_path, nrows=5)


fivetest_df = pd.read_csv(test_path, nrows=5)

print(fivetrain_df)
print(fivetest_df)

## 3. Exploratory Data Analysis
Exploratory data analysis is a very important part of ML as it helps you understand the data you are dealing with <br>
<br>
(we will be working on the train dataframe in this task)

### 3.a. overview of the dataset

 - write code to list the columns in your dataframe (each column on new line as visibility is important)

In [ ]:
#write code here
list=df.columns
print(list)

 - write a function that returns the number of rows and columns in the dataset

In [ ]:
#write code here (print values as well)

rows = len(df.axes[0])
cols = len(df.axes[1])
print("Number of Rows: " , rows)
print("Number of Cols: " , cols)

 - use the info() method of pandas dataframe to print the info related to the dataframe

In [ ]:
# write code here

df.info(verbose=False)

 - use the describe() method of pandas dataframe to print the statistical description of the dataset

In [ ]:
#write code here

#perc =[.20, .40, .60, .80]
#include =['object', 'float', 'int']
df.describe()

 - Find all columns that have unique values. (example : the Gender column has 2 unique values Male and Female) <br>

 - if the columns have finite unique values, then add them in a dictionary of lists and print it <br>
<br>
dictionary should look like : <br>
<t>{<br>&nbsp;&nbsp; "Gender" : ["Male", "Female"],<br>&nbsp;&nbsp; "Col2" : ["unique1", "unique2"],<br>&nbsp;&nbsp;&nbsp;&nbsp;.<br>&nbsp;&nbsp;&nbsp;&nbsp;.<br>&nbsp;&nbsp;&nbsp;&nbsp;.<br>}

In [ ]:
#write code here
i=0
dicts = {}
keys = df.columns
for col in df.columns:
  lists = df[col].unique()
  if len(lists) < 10:
    dicts[keys[i]] = lists
  i += 1
for key, value in dicts.items():
  print(key, ":", value)

### 3.b. Visualizing hidden Details

##### Aim is to find relationship between Title and Survival rate
- print the <b>name</b> column of the data<br>
- notice that the word after the first comma encapsulates the title of the person (Mr., Mrs, etc)
- extract the title using regular expression (help given below in the code)
- store the title in a new column in the dataframe. Name the column : <b>Title</b>

In [ ]:
#write code here (for regex help refer next code cell)
import re


#new_df = pd.DataFrame()
#tit = []
for index, row in df.iterrows():
    name_eg =row['Name']
    title_search = re.search('(\w+)\.', name_eg) 
    if title_search:
      title = title_search.group(1) 
      #tit.append(title)
      #new_df["Title"]=pd.Series(tit)
    print(title)

In [ ]:
#regex example
import re

name_eg = "Petranec, Mr. Matilda"
title_search = re.search('(\w+)\.', name_eg) #the first argument is a pattern that we are looking for
print("result:", title_search) #this is the result we get after looking for the pattern
if title_search:
  print("pattern found") #pattern found printed if a pattern like above is found
  title = title_search.group(1) #extracting the pattern found by regular expression (title here)
  print("title:", title)

In [ ]:
#show the new dataframe with "Title" column here
import re


tit=[]
for index, row in df.iterrows():
    name_eg =row['Name']
    title_search = re.search('(\w+)\.', name_eg) 
    if title_search:
      title = title_search.group(1) 
      tit.append(title)

df2 = pd.DataFrame(tit, columns=['Title'])
print (df2)

- write code to get unique values from the title column
- use the unique titles to find the number of people who survived (1) and number of people who did not (0) for each title. <b>num_survived/total</b> will give the survival rate for that title
- make a new dataframe called <b>SR_df</b> and add the survival rates corresponding to titles in it<br><br>
you may write a function for the above.<br><br>
expected output : <br>
Mr &nbsp;&nbsp; 0.679392<br>
Capt &nbsp;&nbsp; 0.1245<br>
&nbsp;&nbsp;.<br>
&nbsp;&nbsp;.<br>
&nbsp;&nbsp;.<br>

In [ ]:
#write code here
df['Title']=df2['Title']
unique= df['Title'].unique()
dict={}

for i in unique :
  count=k=0
  survived=0
  for j in df['Title']:
    if j==i :
      count +=1
      if df.at[k,"Survived"]==1:
        survived+=1
    k+=1
  dict[i]= survived/count

for key, value in dict.items():
  print(key, ":", value)

In [ ]:
#show the new dataframe SR_df here
SR_df=pd.DataFrame(dict.items(), columns=['Title','Survival Rate'])
SR_df

- use SR_df to plot a bar graph for survival rate vs Title

In [ ]:
#write code here
SR_df.plot.bar(x="Title" ,y="Survival Rate")
plt.ylabel("Survival Rate", labelpad=14)
plt.xlabel("Title", labelpad=14)

This brings us to the end of EDA. <br>
You may feel free to do more exploratry analysis.<br>
The aim of this notebook is not to point out every small detail but to give you an overview and guide you

## 4. Data Visualization

- Make a pie chart to show the number of people who survived and number of people who did not
- Make a pie chart to show the number of <b>Males</b> who survived and number of people who did not
- Make a pie chart to show the number of <b>Females</b> who survived and number of people who did not
<br><br>
Note that all three charts must be visible in a single row (look into subplots)

In [ ]:
#write code here
s_male=s_female=0
d_male=d_female=0
s=d=0
i=0

while (i<rows):
    if (df.at[i,'Sex'] in ['male']):
        if (df2.at[i,'Survived']==1):
            s_male+=1    
        else:
            d_male+=1   
    else:
        if(df.at[i,'Survived']==1):
            s_female+=1    
        else:
            d_female+=1         
    i+=1
s=s_male+s_female
d=d_male+d_female
total=[s, d]
male=[s_male, d_male]
female=[d_female, s_female]
totlabels = ["total survived", "total dead"]
malelabel=["male survived", "male dead"]
femalabel=["female dead", "female survived"]
plt.subplot(1,10,1,)
plt.pie(total, labels = totlabels, radius =5)
plt.subplot(1,10,5)
plt.pie(male, labels = malelabel, radius =5)
plt.subplot(1,10,10)
plt.pie(female, labels = femalabel, radius =5)
plt.subplots_adjust(left=0.1,bottom=0.1, right=0.9, top=0.9, wspace=1, hspace=0.5)
plt.show()

- Find if money affected survival rate (fare and Pclass) 
 - Make a bar graph showing Pclass vs survival rate
 - Make a KDE plot (use the sns library) and plot Fare based on the Survival (google away for this one)

In [ ]:
#write code here
s1=d1=s2=d2=s3=d3=0
sr1=sr2=sr3=0
i=0
pclassdf=df['Pclass'].unique()
pclassdf.sort()

while (i<rows):
    if (df.at[i,'Pclass'] ==1):
        
        if (df.at[i,'Survived']==1):
            s1+=1    
        else:
            d1+=1   
    elif (df.at[i,'Pclass'] ==2):
        if(df.at[i,'Survived']==1):
            s2+=1    
        else:
            d2+=1
    else:  
        if (df.at[i,'Survived']==1):
            s3+=1    
        else:
            d3+=1         
    i+=1
sr1=s1/(s1+d1)
sr2=s2/(s2+d2)
sr3=s3/(s3+d3)
data = {'Pclass1':sr1, 'Pclass2':sr2, 'Pclass3':sr3}

pclass = data.keys()
rate = data.values()
fig = plt.figure(figsize = (10, 5))
 
plt.bar(pclass, rate, color ='red', width = 0.5, align='center')
 
plt.xlabel("Passenger Class")
plt.ylabel("Survival Rate")
plt.show()

In [ ]:
sns.kdeplot(df.loc[(df['Survived']==1),
            'Fare'], color='r', shade=True, Label='1')
  
sns.kdeplot(df.loc[(df['Survived']==0), 
            'Fare'], color='b', shade=True, Label='0')
  
plt.xlabel('Fare')
plt.ylabel('Probability Density')
plt.legend(loc='upper right', title='Survived')

## 5. Preprocessing
preprocessing is a very important step before we step into modelling

 - when we added the Title column in the datadframe, we did preprocessing on the existing data to extract relevant information. As we also tried to explore and understand the data using survival rate, we saw it under EDA.

### 5.a. Removing unnecessary columns

 - The columns PassengerId and Ticket play no logical role in being related to the survival of a passenger. Hence we will remove them.
 - We will also remove the Name column as we have done <b>feature extraction</b> and obtained titles instead. (test set might have extra titles which are not in the train set. Think about how we would consider them. This however doesn't affect task 1's objective)

In [ ]:
#write code to remove unnecessary columns from the dataframe here
drop_list=['PassengerId', 'Ticket', 'Name']
df=pd.read_csv("train.csv")
dropdf=df #making a new drop df so as to not tamper the original df
dropdf.drop(drop_list, axis=1, inplace=True)
dropdf

### 5.b. Nan analysis

 - write code to find the percentage of Nans in each column and visualize it in a tabular format

In [ ]:
#write code here


x=0
nan_list=dropdf.columns 
length=len(nan_list)
number=[0]*length
perc=[0]*length


for x in range(length):
    number[x]=df[nan_list[x]].isnull().sum()
    perc[x]=((number[x])/(rows))*100
    x+=1

nan_df=pd.DataFrame(perc, nan_list, columns=['Percentage of Nan'])
nan_df

 - remove any column having more than 50% Nans as they would be of no use

In [ ]:
#write code here

for ind in nan_df.index:
	if((nan_df['Percentage of Nan'][ind])>=50):
		remove=ind

dropdf.drop(remove, axis=1, inplace=True)
dropdf

 - Fill Nans in the Embark column with the statistical mode
 - Fill Nans in the Age column with it's statistical mean

In [ ]:
#write code here
i=0
replacedf=dropdf

mode=replacedf['Embarked'].mode()
replacedf['Embarked'] = replacedf['Embarked'].replace(np.nan, mode[0])
#print(replacedf['Embarked'].unique())
mean=replacedf['Age'].mean()

replacedf['Age'] = replacedf['Age'].replace(np.nan, mean)
#print(replacedf['Age'].unique())
replacedf

 - show the new Nan percentage vs column name table after filling and removing to make sure there are no Nans

In [ ]:
#write code here
x=0
new_list=replacedf.columns 
l=len(new_list)
no=[0]*l
per=[0]*l

for x in range(l):
    no[x]=df[new_list[x]].isnull().sum()
    per[x]=((no[x])/(rows))*100
    x+=1

new_nan_df=pd.DataFrame(per, new_list, columns=['New Nan Percentage'])
new_nan_df

### 5.c. Adding features to the dataset

 - Read the kaggle link (titanic dataset) provided above and see what the two columns SibSP and Parch signify
 - Using that create a new column called <B>Family_members</b>
 - Fill it with the sum of SibSP and Parch

In [482]:
#write code here

total=df['SibSp']+df['Parch']
df['Family_Members']=total

 - Now you may remove the two columns SibSP and Parch<br>
 It is important to remove them because they introduce multicollinearity in our dataset now as the new column Family_members is directly dependent on them.<br>
 Multicollinearity is deadly to linear models that we will look into later

In [ ]:
#write code here
drop_li=['SibSp', 'Parch']
df.drop(drop_li, axis=1, inplace=True)
df

### 5.d. Scaling and Normalization
we don't want to give undue advantage to a few columns (when training models), just because they have a numeric data that is larger in magnitude.<br>
Therefore we scale all values down to a specific range or distribution
<br>

 - Columns to apply scaling on
  - Age
  - Fare
  - Family_members

- Although Pclass column is numeric, it contains classification data (only 1, 2 and 3). Therefore only continuous data like age, fare, etc needs to be normalized

 - Read about standardization and normalization in this link https://www.geeksforgeeks.org/normalization-vs-standardization/
 - apply the formulas given in the link above and scale/normalize the features that are supposed to be scaled
 - It is your choice to choose wether you choose to normalize or standardize a column. You will be able to make your choice after reading the link contents.
 - If you feel confused with the choice, then you can go ahead and directly normalize.

In [ ]:
#write code here to normalize data

#Normalisation of Age
age_maxes = df['Age'].max()
df1_max = age_maxes.max()
age_mins = df['Age'].min()
df1_min = age_mins.min()
normalized_age = (df['Age'] - df1_min) / (df1_max - df1_min)
#Normalisation of Family Members
family_maxes = df['Family_Members'].max()
df2_max = family_maxes.max()
family_mins = df['Family_Members'].min()
df2_min = family_mins.min()
normalized_family = (df['Family_Members'] - df2_min) / (df2_max - df2_min)
#Standardised Fare
fare_maxes = df['Fare'].max()
df3_max = fare_maxes.max()
standard_fare = (df['Fare'] / df3_max)

In [ ]:
df['Age']=normalized_age
df['Family_Members']=normalized_family
df['Fare']=standard_fare
df

### 5.e. One hot encoding
Machine Learning models do not understand strings <br>
They understand numbers<br>
That is one of the reasons why we one hot encode few columns<br>

- refer this link for more information : https://datagy.io/pandas-get-dummies/
- you can use this or directly look into pandas get_dummies() method to implement this

 - columns to apply one_hot encoding on
 - Pclass
 - Sex
 - Title
 - Embarked

In [ ]:
#write code here
#one hot encoding on sex
sex_enc = pd.get_dummies(df['Sex'])
#one hot encoding on pclass
pclass_enc = pd.get_dummies(df['Pclass'])
#one hot encoding on embarked
embarked_enc = pd.get_dummies(df['Embarked'])
#one hot encoding on 
title_enc = pd.get_dummies(df2['Title'])

df=df.join(sex_enc)
df=df.join(pclass_enc)
df=df.join(embarked_enc)
df=df.join(title_enc)

In [ ]:
#show the final dataframe here
df

End of Preprocessing